{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 mx-auto">
            <h1>Cases</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if cases %}
            <table class="table">
                <thead class="thead-dark">
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date creation</th>
                <th scope="col">Owner</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </thead>
                {% for case in cases %}
                <tr>
                    <td>{{case.name}}</td>
                    <td><div style="height: 200px; overflow: auto"> {{case.description}}</div></td>
                    <td>{{case.createdOn}}</td>
                    <td>{{case.createdBy}}</td>
                    <td><a href="edit?case_id={{case.case_id}}"> Edit </a></td>
                    <td><a href="delete?case_id={{case.case_id}}"> Delete </a></td>
                </tr>
                {% endfor %}

            </table>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No case found!
            </div>
            {% endif%}

        </div>
    </div>
</div>

{% endblock  %}